<%  include partials/header %>

<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Authentication Demo</h1>
    </div>
  </header>
</div>

<%  include partials/footer %>
